.input input {
  width: 15em;
  height: 50px;
  border-radius: 2.8em;
  font-size: 2.5em;
  padding-left: 20px;
  font-family: var(--raleway);
  background: transparent;
  position: relative;
  border: 3px solid var(--azul);
}
.inputError input {
  width: 15em;
  height: 50px;
  border-radius: 2.8em;
  font-size: 2.5em;
  padding-left: 20px;
  font-family: var(--raleway);
  background: transparent;
  position: relative;
  border: 3px solid var(--red);
}
.input input::placeholder,
.inputError input::placeholder {
  color: var(--azul);
}
.input input:focus,
.inputError input:focus {
  outline: none;
}
.inputIcon {
  position: absolute;
  font-size: 2.5em;
  top: 3.7em;
  pointer-events: none;
  padding-left: 13em;
  color: var(--azul);
}
.error {
  margin: 5px;
  font-size: 12px;
  position: absolute;
  left: 0;
  right: 0;
  color: red;
}
